    .navbar{
        display: block;
        border: 2px solid #232533;
        position: relative;
        margin: 10px;
        height: 120px;
        width: 1500px;
        background-color: #2325339d;
        margin-left: auto;
        margin-right: auto;
    }

    .Sociamedia{
        display: inline-block;
        height: 35px;
        margin-top: 50px;
    }

    .ProjectName{
        font-family: cursive;
        font-size: 60px;
        color: black;
    }

    background{
        background: url(../Images/toppng.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 50%;
        margin-top: 0%;
        margin-bottom: 05px;
    }


    .headerline{
        height: 450px;
        width: 1200px;
        color: #ffb168;
        font-size: 80px;
        font-weight: bold;
        margin-left: 60px;
        margin-bottom: 10px;
        margin-top: 1px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .Details{
        display: block;
        height: 450px;
        margin: 2px 2px 2px 2px;
        padding: 2px;
        background-color: whitesmoke;
    }

    .detailsStory{
        float: left;
        width: 900px;
        padding: 20px;
    }

    .DetailsLogo{
        height: 200px;
        margin-top: 120px;
        padding-left: 90px;
        filter: drop-shadow(0 0 0.05rem azure);
    }

    .OurDelStory{
        font-family: cursive;
        font-size: 25px;
        font-style: oblique;
        color: black;
        text-decoration: underline;
    }

    .OurStory{
        font-family: cursive;
        font-size: 20px;
        font-style: oblique;
        color: black(245, 245, 245, 0.807);
    }

    .ShopsBorder{
        height: 400px;
        width: 1500px;
        background-color: #232533;
        border: 1px solid black;
    }

    .Slogan{
        font-family: cursive;
        font-size: 30px;
        font-style: oblique;
        color:#ffb168;
        margin-left: 50px;
    }

    .SCards{
        display: inline-block;
        justify-content: space-evenly;
        height: 100px;
        width: 150px;
        border: 2px solid white;
        background-color: white;
        margin-left: 40px;
        padding: 5px;
        border-radius: 15px;
        box-shadow: 1px 1px 1px 1px white;
        filter: drop-shadow(0 0 0.25rem #ffb168);
    }

    .Disimages{
        display: flex;
        justify-content: space-between;
        height: 600px;
    }

    .CardRow1{
        display: flex;
        justify-content: space-evenly;
    }

    .CardRow2{
        display: flex;
        justify-content: space-evenly;
    }

    .BookTableDiv{
        height: 800px;
        width: 1450px;

    }

    .BookTable{
        display: block;
        float: left;
        height: 600px;
        margin-top: 100px;
        margin-left: 100px;
        margin-bottom: 50px;
        padding: 2px;
        box-shadow:15px 15px #efa765;
    }

    .BookTableText{
        display: block;
        float: right;
        font-size: 30px;
        border: 2px solid white;
        color: white;
        background-color: #232533;
        margin-top: 350px;
        margin-right: 200px;
        margin-bottom: 100px;
        padding: 20px;
    }

    .Featured{
        float: left;
        color: #ffb168;
        font-size: 40px;
        font-weight: bold;
        margin-left: 150px;
        margin-right: 300px;
        margin-top: 150px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .FeaturedImg{
        float: right;
    }

    .Featured2{
        float: right;
        color: #ffb168;
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 150px;
        margin-top: 150px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .FeaturedImg2{
        float: left;
        margin-right: 2px;
        margin-left: 60px;
    }

    .TeamPhoto{
        height: 200px; 
        padding-top: 5px; 
        padding-left: 15px; 
        padding-right: 15px;
        filter: drop-shadow(0 0 0.10rem #ffb168);
    }

    .TeamName{
        font-size: 25px;
        color: #ffb168;
        font-family: cursive;
    }

    .TeamLoc{
        font-size: 10px;
        color: #efa765;
        font-family: cursive;
    }

    .Collab{
        display: flex;
        justify-content: space-evenly;
    }

    .FeaturedDiv{
        display: block;

    }
