    .navbar{
        display: block;
        border: 2px solid #232533;
        position: relative;
        margin: 10px;
        height: 120px;
        width: 1500px;
        background-color: #2325339d;
        margin-left: auto;
        margin-right: auto;
    }

    .Sociamedia{
        display: inline-block;
        height: 35px;
        margin-top: 50px;
    }

    .ProjectName{
        font-family: cursive;
        font-size: 60px;
        color: black;
    }

    background{
        background: url(../Images/toppng.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 50%;
        margin-top: 0%;
        margin-bottom: 05px;
    }


    .headerline{
        height: 450px;
        width: 1200px;
        color: #ffb168;
        font-size: 80px;
        font-weight: bold;
        margin-left: 60px;
        margin-bottom: 10px;
        margin-top: 1px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .Details{
        display: block;
        height: 450px;
        margin: 2px 2px 2px 2px;
        padding: 2px;
        background-color: whitesmoke;
    }

    .detailsStory{
        float: left;
        width: 900px;
        padding: 20px;
    }

    .DetailsLogo{
        height: 200px;
        margin-top: 120px;
        padding-left: 90px;
        filter: drop-shadow(0 0 0.05rem azure);
    }

    .OurDelStory{
        font-family: cursive;
        font-size: 25px;
        font-style: oblique;
        color: black;
        text-decoration: underline;
    }

    .OurStory{
        font-family: cursive;
        font-size: 20px;
        font-style: oblique;
        color: black(245, 245, 245, 0.807);
    }

    .ShopsBorder{
        height: 400px;
        width: 1500px;
        background-color: #232533;
        border: 1px solid black;
    }